body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #1a1a1a;
    background-color: #166CE3;
}


/** HEADER **/

#header-nav {
    background-color: #00E6FB;
    border-radius: 0;
    border: 0;
    box-shadow: 0 0 40px #96008D;
}

#header-nav button {
    margin-top: 22px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #00E6FB;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

.navbar-brand h1 {
    color: #96008D;
    font-family: 'Italianno', cursive;
    font-weight: bolder;
    font-size: 2.5em;
}

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #96008D;
}

#nav-list {
    background-color: #00E6FB;
}

#nav-list a {
    /*text-align: center;*/
    font-weight: bolder;
    color: #282828;
    font-size: 1.2em;
}

#nav-list a:hover {
    color: #202020;
    background-color:#96008D ;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #96008D;
}


/** END HEADER */


/** HOME PAGE **/

#main-content {
    width: 92%;
    margin-bottom: 30px;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #52014c;
}

#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

#chicken-tile, #beef-tile, #sushi-tile {
    width: 100%;
    padding: 20px;
    background-color: #00E6FB;
    margin-bottom: 60px;
    box-shadow: 0 0 80px #96008D;
}


/** END HOME PAGE **/
